.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.form-message {
  width: 100%;
  min-height: 8rem;
  border-width: 0 0 1px 0;
  border-color: color-mix(in srgb, var(--primary) 20%, transparent);
  resize: none;
  outline: none;
  color: var(--text);
  background-color: var(--background);
  padding-bottom: 1rem;
}

.form-message::placeholder {
  color: color-mix(in srgb, var(--text) 60%, var(--background));
}


.form-other {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.form-button {
  margin: 1rem;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--background);
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.form-button:disabled {
  background-color: color-mix(in srgb, var(--primary) 50%, var(--background));
}

.form-button:enabled:hover {
  background-color: color-mix(in srgb, var(--primary) 80%, var(--text));
}

