.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.form-message {
  width: 100%;
  min-height: 8rem;
  border: none;
  resize: none;
  color: black;
  background-color: #FFF8E4;
  padding-bottom: 1rem;
}

.form-message::placeholder {
  color: #3A2E39;
}

.form-button {
  height: 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgb(2,0,44);;
  color: white;
}