:root {
  --pc-1: rgb(200, 73, 0);
  --bc-1: white;
  --hc-1: aliceblue;
  --fc-1: black;  
  
  --primary-color: var(--pc-1);
  --background-color: var(--bc-1);
  --highlight-color: var(--hc-1);
  --font-color: var(--fc-1);
}