:root {
  --text: #3d1f15;
  --background: #ffffff;
  --primary: #ecab6e;
  --secondary: #ffeccc;
  --accent: #7b2d00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f1e3e3;
    --background: #190f0d;
    --primary: #faddcc;
    --secondary: #dbbaa8;
    --accent: #61362d;
  }
}