/* * {
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
} */

.drop-container {
  border: solid;
  padding: 1rem;
  border-width: 0px 0px 1px 0px;
  border-color: color-mix(in srgb, var(--primary) 15%, transparent);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  font-size: 1rem;
  color: var(--text);
}

.drop-container:hover {
  /* box-shadow: 0px 0px 6px 1px color-mix(in srgb, var(--primary-color) 20%, transparent); */
  background-color: color-mix(in srgb, var(--primary) 3%, transparent);
}

.drop-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-end;
}

.drop-header p {
  padding: 0 0.5rem;
  margin: 0;
}

.drop-icon {
  background-color: var(--primary);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.drop-username {
  font-size: 1.5rem;
}

.drop-date {
  color: color-mix(in srgb, var(--background) 50%, var(--text));
}

.drop-message {
  padding: 1rem;
  margin: 0;
}

.drop-reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.drop-reactions div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop-reactions > div > div {  
  height: 1.8rem;
  width: 1.8rem;
  border-radius: .9rem;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

.drop-reactions > div:hover > div {
  background-color:color-mix(in srgb, var(--primary) 7%, transparent);
}

.drop-reactions > div:hover > div > svg {
  color: var(--primary);
}

.drop-reactions > div > p {
  padding-left: 0.3rem;
  margin: 0;
}

.drop-reactions > div:hover > p{
  color: var(--primary);
}