body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

.App-container {
  color: black;
  background-color: #FFF8E4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

main {
  padding: 4rem 0 0 0;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid;
  border-color: #00000021;
  border-width: 0 1px;
}

.empty {
  flex: 1;
}