body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-container {
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

main {
  padding: 4rem 0 0 0;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid;
  border-color: color-mix(in srgb, var(--primary-color) 20%, transparent);;
  border-width: 0 1px;
}

.empty {
  flex: 1;
}