.nav-container {
  min-height: 100vh;
  width: 6rem;
  min-width: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 4rem;
  width: 4rem;
  padding: 0;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 2.5rem;
}

.highlight-on-hover {
  color: var(--text);
  background-color: transparent;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  font-size: 2.5rem;
}

.highlight-on-hover:hover {
  background-color: color-mix(in srgb, var(--primary) 7%, transparent);
  color: var(--primary);
}

.links {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 2.5rem;
  min-width: 2.5rem;
  padding: 0.5rem;
  border-radius: 1.75rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.link > p {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1rem;
  margin: 0;
}

.expanded {
  width: 12rem;
}

.expanded .link {
  padding: 0.5rem 1rem;
  justify-content: flex-start;
}

.nav-post-circle {
  background-color: var(--primary);
  color: var(--background);
  height: 3rem;
  width: 100%;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.nav-post-circle > p {
  padding-left: 1rem;
}

.nav-post-circle:hover {
  background-color: color-mix(in srgb, var(--primary) 90%, var(--background));
}

.profile {
  font-size: 1rem;
  height: 4rem;
  min-width: 2rem;
  border-radius: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: none;
}

.profile-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--primary);
}

.profile > p {
  margin-left: 1rem;
}

.logout {
  background-color: var(--secondary);
  width: 12rem;
  height: 7rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 6rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logout > button {
  border: none;
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.logout > button:hover {
  background-color: color-mix(in srgb, var(--text) 5%, transparent);
}

.hidden {
  display: none;
}